.container {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 500px;
}

form {
  padding: 20px;
  display: grid;
}

form > div {
  display: flex;
  justify-content: space-around;
}

form > *, select {
  margin: 10px 0;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 10px;
}

form > *:hover {
  box-shadow: 2px 2px 20px rgba(127, 255, 212, 0.5)
}

form > button {
  margin: 20px auto;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
}

form > button:hover {
  box-shadow: 0 0 30px rgba(128, 128, 128, 0.7)
}

.output {
  padding: 5px 20px;
}

.output > button, .print {
  border: 1px solid green;
  border-radius: 10px;
  background-color: lightgreen;
  padding: 5px;
  cursor: pointer;
}

.delete {
  border: 1px solid red;
  border-radius: 10px;
  background-color: #F75D59;
  padding: 5px;
  cursor: pointer;
}
